<li class="bold">
    <a class="collapsible-header waves-effect waves-green" tabindex="0">PORTFOLIO</a>
  <div class="collapsible-body">
    <ul>
        <li><router-link to="/">HOME</router-link></li>
        <li><router-link to="login">Sign In</router-link></li>
        <li><router-link to="signup">Sign Up</router-link></li>
    </ul>
  </div>
</li>
<li class="bold"><a href="#" class="collapsible-header waves-effect waves-green">CONTACT ME</a></li>
<li class="bold"><a class="collapsible-header waves-effect waves-green" tabindex="0">PORTFOLIO</a>
  <div class="collapsible-body">
    <ul>
      <li><router-link to="/aboutme">About Me</router-link></li>
      <li><router-link to="/addcert">Add Certificate</router-link></li>
      <li><a href="#">Certificates</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Galleries</a></li>
    </ul>
  </div>
</li>