<template>
  
  <SideNavLogoAreaVue/>
  
      <ul class="collapsible collapsible-accordion">
       
        <li class="prt hibgcolor white-text">
          PORTFOLIO  
        </li>
    
        <li class="bold">
          <a class="collapsible-header waves-effect waves-green" tabindex="0">DEMO APPS</a>
          <div class="collapsible-body" style="">
            <ul>
              <li><a href="#">DUKAN</a></li>
              <li><a href="#">DUKAN</a></li>
            </ul>
          </div>
        </li>
      </ul>
 
</template>

<script>
import SideNavLogoAreaVue from './SideNavLogoArea.vue'

export default {

  components:{
    SideNavLogoAreaVue
  }

}
</script>

<style scoped>
.mysidnav ul li>a{    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}
.collapsible-body ul li{
  padding: 4%;
}
.prt{
  padding: 4%;
}
.collapsible, .collapsible-header{
    border: 0;
    box-shadow: none;
}
.collapsible a{
    color:#000;
}
.hibgcolor{
        background-color: #82B1FF;
}
.hibgcolor-lighter{
        background-color: #c1d9ff;
}

</style>