<template>
  <!-- This section will only be visible on smaller screens-->
  <ul id="slide-out" class="sidenav sidenav-fixed hide-on-large-only" >
      <li class="transparent">
      
        <SideNavLogoArea/>

      </li>
      <li class="search">
        <div class="search-wrapper">
          <!-- <input id="search" placeholder="Search">
          <i class="material-icons">search</i> -->
          <div class="hibgcolor white-text portfolio">
            PORTFOLIO
          </div>
          <div class="search-results"></div>
        </div>
      </li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li class="bold">
              <a class="collapsible-header waves-effect waves-green" tabindex="0">THIS PAGE</a>
            <div class="collapsible-body">
              <ul>
                  <li><router-link to="/">HOME</router-link></li>
                  <li><router-link to="login">Sign In</router-link></li>
                  <li><router-link to="signup">Sign Up</router-link></li>
              </ul>
            </div>
          </li>
          <li class="bold"><a class="collapsible-header waves-effect waves-green" tabindex="0">PORTFOLIO</a>
            <div class="collapsible-body">
              <ul>
                <li><router-link to="/aboutme">About Me</router-link></li>
                <li><router-link to="/addcert">Add Certificate</router-link></li>
                <li><a href="#">Certificates</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Galleries</a></li>
              </ul>
            </div>
          </li>
          <li class="bold"><a class="collapsible-header waves-effect waves-green" tabindex="0">DEMO APPS</a>
            <div class="collapsible-body" style="">
              <ul>
                <li><a href="#">DUKAN</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li class="bold"><a href="#" class="collapsible-header waves-effect waves-green">CONTACT ME</a></li>
    </ul><!-- End of section will only be visible on smaller screens-->
</template>

<script>
import SideNavLogoArea from './SideNavLogoArea.vue';
export default {
    name:"MobileHeader",
    components:{
      SideNavLogoArea
    }
}
</script>

<style scoped>
.hibgcolor{
        background-color: #82B1FF;
}
.hibgcolor-lighter{
        background-color: #c1d9ff;
}
</style>