<template>
    <div class="user-view white lighten-1"><!-- Logo -->
        <div class="row">
            <div class="col s12 m4 l4">
                <div class="left-panel-image">
                    <a href="#"><img src="../assets/images/squared.png" alt="" class="circle circlborder responsive-img"></a>
                </div>
            </div>
            <div class="col s12 m4 l8">
                <a href="#" class="black-text"><h5 class="h5">H. Ibrahimy</h5></a>
                <a href="#"><p class="black-text">MSc. Computer Science</p></a>
            </div>
        </div>
    </div> <!-- Logo -->
</template>

<script>
export default {
    name:"SideNavLogoArea"
}
</script>

<style scoped>
.circlborder{
    border: #d49100 4px solid;
}
.user-view{
            padding: 6%;
}

.hibgcolor{
        background-color: #82B1FF;
}
.hibgcolor-lighter{
        background-color: #c1d9ff;
}
</style>