<template>
  <header>
    <MobileNavbar />
  </header>
  <main>
    <div class="row">
      
      <div class="col s12 m4 l2 white lighten-1 hide-on-small-only no-padding"> <!-- Side Nav-->
        <LargeScreenNavbar/>
      </div> <!-- End Side Nav-->

      <div class="col s12 m9 l10 white lighten-1 no-padding"><!-- Content -->
        <div class="navbar-fixed">
          <nav>
            <div class="nav-wrapper white lighten-1">
              <a href="#" data-target="slide-out" class="top-nav header sidenav-trigger hide-on-large-only"><i class="material-icons black-text ">menu</i></a>
              <a href="#!" class="brand-logo black-text">Home</a>
              <!-- <ul class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
              </ul> -->
            </div>
          </nav>
        </div>
        
        <HelloWorld msg="Course covers the key Python skills for data science with the following topics. Course covers the key Python skills for data science with the following topics. "/>

      </div><!-- End of Content -->
      
    </div>
  </main>
  <footer></footer>
</template>

<script>
import M from 'materialize-css'
import HelloWorld from './components/HelloWorld.vue'
import MobileNavbar from './components/MobileNavbar.vue'
import LargeScreenNavbar from './components/LargeScreenNavbar.vue'

export default {
  name: 'App',
  components: {
    HelloWorld,
    MobileNavbar,
    LargeScreenNavbar
  },
  mounted () {
    M.AutoInit()
}
}
</script>

<style scoped>
.user-view{
            padding: 6%;
}

.hibgcolor{
        background-color: #82B1FF;
}
.hibgcolor-lighter{
        background-color: #c1d9ff;
}
nav, .navbar-fixed, .nav-wrapper{
  box-shadow: none;
  border-bottom: 1px solid #82B1FF;
}
</style>
